data/0.site-qc/20210422_6W_CP257/results/complete_perturbation_count_per_site.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/0.site-qc/20210422_6W_CP257/data/image_metadata.tsv filter=lfs diff=lfs merge=lfs -text
